aiosqlite==0.22.1
alembic==1.18.4
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
bcrypt==5.0.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
distro==1.9.0
Django==5.2.3
dnspython==2.8.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.115.6
google-auth==2.48.0rc0
google-genai==1.2.0
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
loguru==0.7.3
Mako==1.3.10
MarkupSafe==3.0.3
mysqlclient==2.2.7
passlib==1.7.4
perplexityai==0.26.0
psycopg2-binary==2.9.10
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.6.1
pydantic_core==2.41.5
PyPDF2==3.0.1
python-dotenv==1.0.1
python-jose==3.3.0
PyYAML==6.0.3
# Editable install with no version control (reffy-backend==0.1.0)
-e c:\users\ricodere\desktop\portall\portbe\src\reffy-backend
requests==2.32.5
rsa==4.9.1
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.37
sqlmodel==0.0.37
sqlparse==0.5.3
starlette==0.41.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ulid-py==1.1.0
urllib3==2.6.3
uvicorn==0.34.0
watchfiles==1.1.1
websockets==14.2
win32_setctime==1.2.0
